<div class="container table-responsive">
    <div class="row">
      <h2>Lista de Produtos Cadastrados</h2>
  
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">CEP</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tipo</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoas">
            <th scope="row">{{pessoa.id}}</th>
            <td>{{pessoa.nome}}</td>
            <td> {{pessoa.cgc}}</td>
            <td> {{pessoa.cep}}</td>
            <td> {{pessoa.email}}</td>
            <td> {{pessoa.tipo}}</td>
            <td> {{pessoa.status}}</td>
            <td>
              <i class="material-icons" > <a [routerLink]="['pessoa/', pessoa.id]" title="Editar"> mode_edit </a></i>
              &nbsp;
              <i class="material-icons"> <a title="Excluir" (click)="deletar(pessoa.id)"> delete </a> </i>  
              
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>